*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: consolas;
  color-scheme: light dark;
  scroll-behavior: auto;
}

body {
  font-size: 1.6rem;
  font-optical-sizing: auto;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  padding: 5% 5% 0 5%;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background: linear-gradient(to right top, #2a2828, #1e1e1e 50%);
  background-attachment: fixed;
}

hr {
  margin: 50px 0;
}
