.header_contact {
  p {
    font-size: 1.8rem;
    margin: 20px;
  }
}

.content_contact {
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
    width: 80%;
    margin: auto;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 16px 24px;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
    gap: 20px;
  }

  ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}
