.header_about {
  p {
    font-size: 1.8rem;
    margin: 20px 0;
  }
}

.warnings_about {
  li {
    font-size: 1.8rem;
    margin: 20px 0;
    text-align: left;
  }
}

.contdown_about {
  p {
    font-size: 2rem;
    margin: 20px 0;
  }
}
