.content_note {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong,
  i,
  em,
  mark,
  small,
  del,
  ins,
  q,
  abbr,
  address,
  cite,
  dfn,
  kbd,
  samp,
  var,
  time,
  sub,
  sup,
  pre,
  code,
  blockquote {
    margin-bottom: 2rem;
  }
}

.tags_extra {
  text-align: left;
}
