<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      nav {
        background-color: #333;
        padding: 13px 30px;
        border-radius: 5px;
      }

      nav ul {
        list-style-type: none;
        display: flex;
        gap: 30px;
      }

      nav ul li {
        display: inline;
      }

      nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.8rem;
      }

      nav ul li a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#buttons">Botões</a></li>
        <li><a href="#note">Anotações</a></li>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#contact">Contato</a></li>
      </ul>
    </nav>
  </body>
</html>
